<form>
<%= form_for @tile do |f| %>
  <div class="row">
    <div class="large-12 columns">
    <%= f.text_field :title, lable %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
    <%= f.fields_for :links do |link| %>
      <%= link.text_field :description %>
      <%= link.text_field :url %>
    <% end %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</form>

